.informacao {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* Lado esquerdo com fundo roxo */
.mensagem {
  background-color: #a189fa;
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/src/app/login/Images/patas.png'); 
  background-size: contain;
  background-repeat: repeat;
  text-align: center;
}

.mensagem {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.mensagem p {
  font-size: 1.1rem;
}

.login-direito {
  background-color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-conteudo {
  width: 100%;
  max-width: 360px;
}

.login-conteudo h1 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.login-conteudo p {
  color: #6B6B6B;
  font-size: 0.9rem;
  margin-top: -0;
}

.login-conteudo a {
  margin-left: 5px;
  color: #563EFF;
  font-size: 0.9rem;
  margin-top: 0;
}

#login-email {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

#login-email input[type="email"],
#login-email input[type="password"] {
  background-color: white;
  color: #000000;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
}

#login-email label{
  color: #000000;
}

.opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  
}
.opcoes:checked{
  background-color: blue;
  width: 25px;
  height: 25px;

}

.forgot {
  color: red;
  font-size: 0.85rem;
}

button[type="submit"] {
  background-color: #7d5fff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}